src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd">

	<context:property-placeholder location="automation-credentials.properties" />
	
	<cmis:config name="CMIS" username="${alfresco.username}" password="${alfresco.password}" baseUrl="${alfresco.baseUrl}" />
	
	<flow name="create-folder">
		<cmis:create-folder config-ref="CMIS" folderName="#[payload.folderName]" parentObjectId="#[payload.parentObjectId]" />
	</flow>

	<flow name="delete">
		<cmis:delete config-ref="CMIS" objectId="#[sessionVars.objectId]" allVersions="#[sessionVars.allVersions]" />
	</flow>
	
	<flow name="repository-info">
		<cmis:repository-info config-ref="CMIS" />
	</flow>

	<flow name="get-object-by-id">
		<cmis:get-object-by-id config-ref="CMIS" objectId="#[payload.objectId]" />
	</flow>
	
	<flow name="create-relationship">
		<cmis:create-relationship config-ref="CMIS" parentObjectId="#[payload.parentObjectId]" childObjectId="#[payload.childObjectId]"
			relationshipType="#[payload.relationshipType]"/>
	</flow>
	
	<flow name="get-object-relationships">
		<cmis:get-object-relationships config-ref="CMIS" objectId="#[sessionVars.objectId]" />
	</flow>
	
	<flow name="get-acl">
		<cmis:get-acl config-ref="CMIS" objectId="#[sessionVars.objectId]" />
	</flow>
	
	<flow name="get-parent-folders">
		<cmis:get-parent-folders config-ref="CMIS" objectId="#[sessionVars.objectId]" />
	</flow>
	
	<flow name="move-object">
		<cmis:move-object config-ref="CMIS" sourceFolderId="#[payload.sourceFolderId]" targetFolderId="#[payload.targetFolderId]" objectId="#[payload.objectId]" />
	</flow>
	
	<flow name="apply-policy">
		<cmis:apply-policy config-ref="CMIS" objectId="#[payload.objectId]">
			<cmis:policy-ids ref="#[payload.policyIdsRef]"/>
		</cmis:apply-policy>
	</flow>
	
	<flow name="create-document-by-id">
		<cmis:create-document-by-id config-ref="CMIS" filename="#[sessionVars.filename]" folderId="#[sessionVars.folderId]" mimeType="#[sessionVars.mimeType]"
		    versioningState="#[sessionVars.versioningState]" objectType="#[sessionVars.objectType]">
                 <cmis:properties ref="#[sessionVars.propertiesRef]" />
		</cmis:create-document-by-id>
	</flow>
	
	<flow name="create-document-by-id-from-content">
		<cmis:create-document-by-id-from-content config-ref="CMIS" filename="#[payload.filename]" folderId="#[payload.folderId]" mimeType="#[payload.mimeType]"
			content-ref="#[payload.contentRef]" versioningState="#[payload.versioningState]" objectType="#[payload.objectType]">
                 <cmis:properties ref="#[payload.propertiesRef]" />
		</cmis:create-document-by-id-from-content>
	</flow>
	
	<flow name="create-document-by-path">
		<cmis:create-document-by-path config-ref="CMIS" filename="#[sessionVars.filename]" folderPath="#[sessionVars.folderPath]" mimeType="#[sessionVars.mimeType]"
			versioningState="#[sessionVars.versioningState]" objectType="#[sessionVars.objectType]" force="#[sessionVars.force]">
                 <cmis:properties ref="#[sessionVars.propertiesRef]" />
		</cmis:create-document-by-path>
	</flow>
	
	<flow name="create-document-by-path-from-content">
		<cmis:create-document-by-path-from-content config-ref="CMIS" filename="#[payload.filename]" folderPath="#[payload.folderPath]" mimeType="#[payload.mimeType]"
			content-ref="#[payload.contentRef]" versioningState="#[payload.versioningState]" objectType="#[payload.objectType]" force="#[payload.force]">
                 <cmis:properties ref="#[payload.propertiesRef]" />
		</cmis:create-document-by-path-from-content>
	</flow>
	
	<flow name="delete-tree">
		<cmis:delete-tree config-ref="CMIS" allversions="#[sessionVars.allversions]" continueOnFailure="#[sessionVars.continueOnFailure]" folderId="#[sessionVars.folderId]" />
	</flow>
	
	<flow name="get-type-definition">
		<cmis:get-type-definition config-ref="CMIS" typeId="#[payload.typeId]" />
	</flow>
	
	<flow name="get-content-stream">
		<cmis:get-content-stream config-ref="CMIS" objectId="#[sessionVars.objectId]" />
	</flow>
	
	<flow name="get-object-by-path">
		<cmis:get-object-by-path config-ref="CMIS" path="#[payload.path]" />
	</flow>
	
	<flow name="apply-acl">
		<cmis:apply-acl config-ref="CMIS" aclPropagation="#[sessionVars.aclPropagation]">
	        <cmis:add-aces ref="#[sessionVars.addAces]"/>
	        <cmis:remove-aces ref="#[sessionVars.removeAces]"/>
		</cmis:apply-acl>
	</flow>
	
	<flow name="check-in">
		<cmis:check-in config-ref="CMIS" checkinComment="#[payload.checkinComment]" documentId="#[payload.documentId]" filename="#[payload.filename]"
				major="#[payload.major]" mimeType="#[payload.mimeType]" content-ref="#[payload.contentRef]">
			<cmis:properties ref="#[payload.propertiesRef]" />
		</cmis:check-in>
	</flow>
	
	<flow name="check-out">
		<cmis:check-out config-ref="CMIS" documentId="#[payload.documentId]" />
	</flow>
	
	<flow name="cancel-check-out">
		<cmis:cancel-check-out config-ref="CMIS" documentId="#[payload.documentId]" />
	</flow>
	
	<flow name="get-checkout-docs">
		<cmis:get-checkout-docs config-ref="CMIS" />
	</flow>
	
	<flow name="update-object-properties">
		<cmis:update-object-properties config-ref="CMIS" objectId="#[payload.objectId]">
			<cmis:properties ref="#[propertiesRef]" />
		</cmis:update-object-properties>
	</flow>
	
	<flow name="folder">
		<cmis:folder config-ref="CMIS" get="#[payload.get]" folderId="#[payload.folderId]" />
	</flow>
	
	<flow name="get-or-create-folder-by-path">
		<cmis:get-or-create-folder-by-path config-ref="CMIS" folderPath="#[payload.folderPath]"  />
	</flow>
	
	<flow name="repositories">
		<cmis:repositories config-ref="CMIS" />
	</flow>
	
	<flow name="changelog">
		<cmis:changelog config-ref="CMIS" changeLogToken="#[payload.changeLogToken]" includeProperties="#[payload.includeProperties]"/>
	</flow>
</mule>
