src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      version="EE-3.5.2"
      xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">

    <context:property-placeholder location="${CMIS_CREDENTIALS}"/>

    <cmis:config name="CMIS" username="${alfresco.username}"
                 password="${alfresco.password}" baseUrl="${alfresco.baseUrl}" repositoryId="${alfresco.repositoryId}"
                 endpoint="${alfresco.endpoint}" useAlfrescoExtension="${alfresco.extension}" doc:name="CMIS">
        <cmis:connection-pooling-profile
                initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </cmis:config>

    <flow name="create-folder" doc:name="create-folder">
        <cmis:create-folder config-ref="CMIS" folderName="#[flowVars.folderName]"
                            parentObjectId="#[flowVars.parentObjectId]" doc:name="CMIS"/>
    </flow>

    <flow name="delete" doc:name="delete">
        <cmis:delete cmisObject-ref="#[flowVars.cmisObjectRef]" config-ref="CMIS" objectId="#[flowVars.objectId]"
                     allVersions="#[flowVars.allVersions]" doc:name="CMIS"/>
    </flow>
    <flow name="repository-info" doc:name="repository-info">
        <cmis:repository-info config-ref="CMIS" doc:name="CMIS"/>
    </flow>

    <flow name="get-object-by-id" doc:name="get-object-by-id">
        <cmis:get-object-by-id config-ref="CMIS" objectId="#[flowVars.objectId]" doc:name="CMIS"/>
    </flow>

    <flow name="create-relationship" doc:name="create-relationship">
        <cmis:create-relationship config-ref="CMIS" parentObjectId="#[flowVars.parentObjectId]"
                                  childObjectId="#[flowVars.childObjectId]"
                                  relationshipType="#[flowVars.relationshipType]" doc:name="CMIS"/>
    </flow>

    <flow name="get-object-relationships" doc:name="get-object-relationships">
        <cmis:get-object-relationships config-ref="CMIS" objectId="#[flowVars.objectId]"
                                       cmisObject-ref="#[flowVars.cmisObjectRef]" doc:name="CMIS"/>
    </flow>

    <flow name="get-acl" doc:name="get-acl">
        <cmis:get-acl config-ref="CMIS" objectId="#[flowVars.objectId]" cmisObject-ref="#[flowVars.cmisObjectRef]"
                      doc:name="CMIS"/>
    </flow>

    <flow name="get-parent-folders" doc:name="get-parent-folders">
        <cmis:get-parent-folders config-ref="CMIS" cmisObject-ref="#[flowVars.cmisObjectRef]"
                                 objectId="#[flowVars.objectId]" doc:name="CMIS"/>
    </flow>

    <flow name="move-object" doc:name="move-object">
        <cmis:move-object config-ref="CMIS" cmisObject-ref="#[payload.cmisObjectRef]"
                          sourceFolderId="#[flowVars.sourceFolderId]" targetFolderId="#[flowVars.targetFolderId]"
                          objectId="#[flowVars.objectId]" doc:name="CMIS"/>
    </flow>

    <flow name="create-document-by-id" doc:name="create-document-by-id">
        <cmis:create-document-by-id config-ref="CMIS" filename="#[flowVars.filename]" folderId="#[flowVars.folderId]"
                                    mimeType="#[flowVars.mimeType]"
                                    versioningState="#[flowVars.versioningState]" objectType="#[flowVars.objectType]"
                                    content-ref="#[flowVars.contentRef]" doc:name="CMIS">
            <cmis:properties ref="#[flowVars.propertiesRef]"/>
        </cmis:create-document-by-id>
    </flow>

    <flow name="create-document-by-id-from-content" doc:name="create-document-by-id-from-content">
        <cmis:create-document-by-id-from-content config-ref="CMIS" filename="#[flowVars.filename]"
                                                 folderId="#[flowVars.folderId]" mimeType="#[flowVars.mimeType]"
                                                 objectType="#[flowVars.objectType]"
                                                 versioningState="#[flowVars.versioningState]"
                                                 content-ref="#[flowVars.contentRef]">
            <cmis:properties ref="#[flowVars.propertiesRef]"/>
        </cmis:create-document-by-id-from-content>
    </flow>

    <flow name="create-document-by-path" doc:name="create-document-by-path">
        <cmis:create-document-by-path config-ref="CMIS" filename="#[flowVars.filename]"
                                      folderPath="#[flowVars.folderPath]" mimeType="#[flowVars.mimeType]"
                                      versioningState="#[flowVars.versioningState]" objectType="#[flowVars.objectType]"
                                      force="#[flowVars.force]" content-ref="#[flowVars.contentRef]" doc:name="CMIS">
            <cmis:properties ref="#[flowVars.propertiesRef]"/>
        </cmis:create-document-by-path>
    </flow>

    <flow name="create-document-by-path-from-content" doc:name="create-document-by-path-from-content">
        <cmis:create-document-by-path-from-content
                config-ref="CMIS" doc:name="CMIS" filename="#[flowVars.filename]" mimeType="#[flowVars.mimeType]"
                objectType="#[flowVars.objectType]"
                versioningState="#[flowVars.versioningState]" content-ref="#[flowVars.contentRef]"
                folderPath="#[flowVars.folderPath]" force="#[flowVars.force]">
            <cmis:properties ref="#[flowVars.propertiesRef]"/>
        </cmis:create-document-by-path-from-content>
    </flow>

    <flow name="get-all-versions" doc:name="get-all-versions">
        <cmis:get-all-versions config-ref="CMIS" document-ref="#[flowVars.documentRef]"
                               documentId="#[flowVars.documentId]" doc:name="CMIS"/>
    </flow>

    <flow name="delete-tree" doc:name="delete-tree">
        <cmis:delete-tree config-ref="CMIS"
                          allversions="#[flowVars.allversions]" continueOnFailure="#[flowVars.continueOnFailure]"
                          folderId="#[flowVars.folderId]" folder-ref="#[flowVars.folderRef]" doc:name="CMIS"/>
    </flow>

    <flow name="get-type-definition" doc:name="get-type-definition">
        <cmis:get-type-definition config-ref="CMIS" typeId="#[flowVars.typeId]" doc:name="CMIS"/>
    </flow>
    <flow name="get-content-stream" doc:name="get-content-stream">
        <cmis:get-content-stream config-ref="CMIS" cmisObject-ref="#[flowVars.cmisObjectRef]" doc:name="CMIS"/>
    </flow>

    <flow name="get-object-by-path" doc:name="get-object-by-path">
        <cmis:get-object-by-path config-ref="CMIS" path="#[flowVars.path]" doc:name="CMIS"/>
    </flow>

    <flow name="update-object-properties" doc:name="update-object-properties">
        <cmis:update-object-properties config-ref="CMIS" objectId="#[flowVars.objectId]"
                                       cmisObject-ref="#[flowVars.cmisObjectRef]" doc:name="CMIS">
            <cmis:properties ref="#[flowVars.propertiesRef]"/>
        </cmis:update-object-properties>
    </flow>

    <flow name="apply-acl" doc:name="apply-acl">
        <cmis:apply-acl config-ref="CMIS" objectId="#[flowVars.objectId]" cmisObject-ref="#[flowVars.cmisObjectRef]"
                        aclPropagation="#[flowVars.aclPropagation]" doc:name="CMIS">
            <cmis:add-aces ref="#[flowVars.addAcesRef]"/>
            <cmis:remove-aces ref="#[flowVars.removeAcesRef]"/>
        </cmis:apply-acl>
    </flow>

    <flow name="folder" doc:name="folder">
        <cmis:folder config-ref="CMIS" folder-ref="#[flowVars.folderRef]" get="#[flowVars.get]"
                     folderId="#[flowVars.folderId]" doc:name="CMIS"/>
    </flow>

    <flow name="get-or-create-folder-by-path" doc:name="get-or-create-folder-by-path">
        <cmis:get-or-create-folder-by-path config-ref="CMIS" folderPath="#[flowVars.folderPath]" doc:name="CMIS"/>
    </flow>

    <flow name="changelog" doc:name="changelog">
        <cmis:changelog config-ref="CMIS" changeLogToken="#[flowVars.changeLogToken]"
                        includeProperties="#[flowVars.includeProperties]" doc:name="CMIS"/>
    </flow>

    <flow name="get-applied-policies" doc:name="get-applied-policies">
        <cmis:get-applied-policies config-ref="CMIS" objectId="#[flowVars.objectId]"
                                   cmisObject-ref="#[flowVars.cmisObjectRef]" doc:name="CMIS"/>
    </flow>

    <flow name="apply-aspect" doc:name="apply-aspect">
        <cmis:apply-aspect config-ref="CMIS" objectId="#[flowVars.objectId]" aspectName="#[flowVars.aspectName]"
                           doc:name="CMIS">
            <cmis:properties ref="#[flowVars.propertiesRef]"/>
        </cmis:apply-aspect>
    </flow>

    <flow name="repositories" doc:name="repositories">
        <cmis:repositories config-ref="CMIS" doc:name="CMIS"/>
    </flow>

    <flow name="query" doc:name="query-filtered">
        <cmis:query config-ref="CMIS" filter="#[flowVars.filter]" searchAllVersions="#[flowVars.searchAllVersions]"
                    statement="#[flowVars.statement]" doc:name="CMIS"/>
    </flow>

    <flow name="check-in" doc:name="check-in">
        <cmis:check-in config-ref="CMIS" checkinComment="#[flowVars.checkinComment]" documentId="#[flowVars.documentId]"
                       filename="#[flowVars.filename]"
                       major="#[flowVars.major]" mimeType="#[flowVars.mimeType]" content-ref="#[flowVars.contentRef]"
                       doc:name="CMIS">
            <cmis:properties ref="#[flowVars.propertiesRef]"/>
        </cmis:check-in>
    </flow>

    <flow name="check-out" doc:name="check-out">
        <cmis:check-out config-ref="CMIS" document-ref="#[flowVars.documentRef]" documentId="#[flowVars.documentId]"
                        doc:name="CMIS"/>
    </flow>

    <flow name="cancel-check-out" doc:name="cancel-check-out">
        <cmis:cancel-check-out config-ref="CMIS" document-ref="#[flowVars.documentRef]"
                               documentId="#[flowVars.documentId]" doc:name="CMIS"/>
    </flow>

    <flow name="get-checkout-docs" doc:name="get-checkout-docs">
        <cmis:get-checkout-docs config-ref="CMIS" doc:name="CMIS"/>
    </flow>

    <flow name="apply-policy" doc:name="apply-policy">
        <cmis:apply-policy config-ref="CMIS" objectId="#[flowVars.objectId]" cmisObject-ref="#[flowVars.cmisObjectRef]"
                           doc:name="CMIS">
            <cmis:policy-ids ref="#[flowVars.policyIdsRef]"/>
        </cmis:apply-policy>
    </flow>
</mule>
