src/test/resources/cmis-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule CMIS Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:util="http://www.springframework.org/schema/util"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/1.2/mule-cmis.xsd
                          http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd
                          ">
    <!--  <cmis:config facade-ref="mockCMISFacade" />-->
    <cmis:config name="foo" username="admin" password="admin" repositoryId="371554cd-ac06-40ba-98b8-e6b60275cca7"
                 baseUrl="http://cmis.alfresco.com/service/cmis"/>

    <flow name="repositoryInfoFlow">
        <cmis:repository-info />
    </flow>

    <flow name="repositoriesFlow">
        <cmis:repositories />
    </flow>

    <flow name="changeLogFlow">
        <cmis:changelog changeLogToken="41784" includeProperties="false"/>
    </flow>

    <flow name="objectByIdFlow">
        <cmis:get-object-by-id objectId="1234" />
    </flow>

    <flow name="objectByPathFlow">
        <cmis:get-object-by-path path="/mule-cloud-connector" />    
    </flow>

    <flow name="createDocumentByPathFlow">
        <cmis:create-document-by-path content="new content" filename="file"
            folderPath="/mule-cloud-connector" mimeType="application/octet-stream;charset=UTF-8"
            versioningState="NONE" objectType="D:cmiscustom:document" />
    </flow>

    <flow name="createDocumentByIdFlow">
        <cmis:create-document-by-id content="new content" filename="file"
            folderId="1111111" mimeType="application/octet-stream;charset=UTF-8"
            versioningState="NONE" objectType="D:cmiscustom:document" />
    </flow>

    <flow name="createFolderFlow">
        <cmis:create-folder folderName="new folder" parentObjectId="11111" />
    </flow>

    <flow name="getTypeDefinitionFlow">
        <cmis:get-type-definition typeId="1111" />
    </flow>

    <flow name="getCheckoutDocsFlow">
        <cmis:get-checkout-docs />
    </flow>

    <flow name="queryFlow">
        <cmis:query searchAllVersions="true" statement="SELECT * FROM cmis:document" />
    </flow>

    <flow name="parentFoldersFlow">
        <cmis:get-parent-folders objectId="1111" /> 
    </flow>
    
    <flow name="folderParentFlow">
        <cmis:get-object-by-path path="/mule-cloud-connector" />
        <cmis:folder get="CHILDREN" folderId="#[payload:id]"/>
    </flow>

    <flow name="folderTreeFlow">
        <cmis:get-object-by-path path="/mule-cloud-connector" />
        <cmis:folder get="CHILDREN" folderId="#[payload:id]"/>
    </flow>

    <flow name="floderDescentandsFlow">
        <cmis:get-object-by-path path="/mule-cloud-connector" />
        <cmis:folder get="DESCENDANTS" folderId="#[payload:id]"/>
    </flow>

    <flow name="getContentStreamFlow">
        <cmis:get-content-stream objectId="11111" />
    </flow>

    <flow name="moveObjectFlow">
        <cmis:move-object sourceFolderId="1111" targetFolderId="2222"
                        objectId="3333" />
    </flow>

    <flow name="updateObjectPropertiesFlow">
        <cmis:update-object-properties objectId="1111">
            <cmis:properties>
                <cmis:property key="propkey" value="propValue"/>
            </cmis:properties>
        </cmis:update-object-properties>
    </flow>

    <flow name="getObjectRelationshipsFlow">
        <cmis:get-object-relationships objectId="2222" />
    </flow>

    <flow name="getAclFLow">
        <cmis:get-acl objectId="2222" />
    </flow>

    <flow name="getAllVersionsFlow">
        <cmis:get-all-versions documentId="1111" />
    </flow>

    <flow name="checkOutFLow">
        <cmis:check-out documentId="1111" />
    </flow>

    <flow name="cancelCheckOutFlow">
        <cmis:cancel-check-out documentId="1111" />
    </flow>

    <flow name="checkInFlow">
        <cmis:check-in content="modified content" filename="#[payload:name]"
                        checkinComment="change on file" major="true"
                        mimeType="application/octet-stream;charset=UTF-8" /> 
    </flow>

    <flow name="getAppliedPoliciesFlow">
        <cmis:get-applied-policies objectId="1111"/>
    </flow>

    <flow name="deleteFlow">
        <cmis:delete objectId="1111" allVersions="true" />
    </flow>

</mule>
